Repository HyunSangHan/MeetingTime, pull requests merged in 2019-08, with the labels that each got.

#16 소셜로그인 구현
  .gitignore
  backend/backend/settings.py
  backend/backend/urls.py
  backend/meeting/migrations/0001_initial.py
  backend/meeting/migrations/0002_auto_20190802_2114.py
  backend/meeting/migrations/0003_auto_20190802_2201.py
  backend/meeting/models.py
  backend/meeting/serializers.py
  backend/meeting/views.py
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Footer.js
  frontend/src/components/FooterScrollable.js
  frontend/src/components/Main.js
Labels: backend, enhancement, frontend

#18 backend 전반 리팩토링
  backend/meeting/serializers.py
  backend/meeting/views.py
  frontend/src/components/Main.js
Labels: backend, refactor

#19 Feature/refactoring
  frontend/package.json
  frontend/src/App.js
  frontend/src/actions/index.js
  frontend/src/components/Main.js
  frontend/src/components/popups/CopiedPopup.js
  frontend/src/components/popups/JoinedPopup.js
  frontend/src/index.js
  frontend/src/modules/index.js
  frontend/src/modules/join.js
  frontend/yarn.lock
Labels: frontend, refactor

#23 Feature/join
  backend/meeting/serializers.py
  backend/meeting/views.py
  backend/requirements.txt
  frontend/src/components/Main.js
  frontend/src/components/popups/CopiedPopup.js
  frontend/src/components/popups/JoinedPopup.js
  frontend/src/modules/join.js
Labels: frontend

#24 Feature/current meeting
  frontend/src/App.js
  frontend/src/components/Main.js
  frontend/src/components/popups/JoinedPopup.js
  frontend/src/modules/current_meeting.js
  frontend/src/modules/index.js
  frontend/src/modules/join.js
Labels: frontend

#25 Feature/join
  backend/meeting/views.py
  frontend/src/components/Main.js
  frontend/src/modules/join.js
Labels: frontend

#26 Feature/login
  backend/meeting/views.py
  frontend/src/App.js
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/modules/index.js
  frontend/src/modules/my_profile.js
Labels: frontend

#28 Feature/join
  backend/meeting/migrations/0001_initial.py
  backend/meeting/models.py
  frontend/src/App.js
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/components/details/JoinButton.js
  frontend/src/components/popups/JoinedPopup.js
  frontend/src/modules/join.js
Labels: backend, frontend

#31 Feature/player
  .gitignore
  backend/backend/settings.py
  backend/backend/urls.py
  backend/images/admin_profile.jpg
  backend/images/admin_profile.png
  backend/images/admin_profile_45ISzIb.jpg
  backend/images/admin_profile_45ISzIb_KCCJWqq.jpg
  backend/images/counter_profile.jpg
  backend/images/counter_profile_wPqXgsa.jpg
  backend/meeting/admin.py
  backend/meeting/serializers.py
  backend/meeting/views.py
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/CounterPlayer.js
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/components/MyPlayer.js
  frontend/src/components/Player.js
  frontend/src/components/details/Result.js
  frontend/src/components/popups/JoinedPopup.js
  frontend/src/css/info_styles.scss
  frontend/src/css/player_styles.scss
  frontend/src/images/noPhoto.jpg
  frontend/src/images/noPhoto.png
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/modules/index.js
  frontend/src/modules/join.js
  frontend/src/modules/matching.js
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
  frontend/src/serviceWorker.js
  frontend/yarn.lock
Labels: frontend

#30 Feature/rank
  backend/meeting/migrations/0002_auto_20190813_2254.py
  backend/meeting/views.py
Labels: backend

#32 Feature/player
  backend/backend/settings.py
  backend/backend/urls.py
  backend/images/admin_profile_45ISzIb_KCCJWqq_JwzIzw5.jpg
  backend/images/admin_profile_LKru7Xf.png
  backend/images/admin_profile_lz5SB82.png
  backend/images/bora.jpg
  backend/images/bora_lJ7mLiV.jpg
  backend/images/counter_profile_wPqXgsa_jmJgk30.jpg
  backend/meeting/models.py
  backend/meeting/serializers.py
  backend/meeting/views.py
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CounterPlayer.js
  frontend/src/components/Initpage.js
  frontend/src/components/Loading.js
  frontend/src/components/Main.js
  frontend/src/components/MyPlayer.js
  frontend/src/components/Player.js
  frontend/src/components/details/Profile.js
  frontend/src/components/details/Result.js
  frontend/src/css/info_styles.scss
  frontend/src/css/loading.scss
  frontend/src/css/player_styles.scss
  frontend/src/css/profile.scss
  frontend/src/images/loading.png
  frontend/src/modules/current_matching.js
  frontend/src/modules/index.js
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
  frontend/yarn.lock
Labels: frontend

#35 Feature/schedule
  backend/backend/settings.py
  backend/meeting/cron.py
  backend/meeting/migrations/0001_initial.py
  backend/meeting/views.py
Labels: backend

#36 Feature/join
  backend/backend/settings.py
  frontend/src/App.js
  frontend/src/actions/ActionTypes.js
  frontend/src/actions/index.js
  frontend/src/components/CounterPlayer.js
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/components/MyPlayer.js
  frontend/src/components/Player.js
  frontend/src/components/details/Chat.js
  frontend/src/components/details/Heart.js
  frontend/src/components/details/JoinButton.js
  frontend/src/css/Body.css
  frontend/src/modules/current_matching.js
  frontend/src/modules/current_meeting.js
  frontend/src/modules/join.js
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
  frontend/src/reducers/index.js
Labels: frontend, refactor

#37 Feature/email
  backend/backend/settings.py
  backend/backend/urls.py
  backend/meeting/models.py
  backend/meeting/views.py
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Email.js
  frontend/src/modules/email.js
  frontend/src/modules/index.js
  frontend/yarn.lock
Labels: backend, enhancement, frontend

#39 Feature/refactoring
  frontend/package.json
  frontend/public/images/counterProfile.jpeg
  frontend/public/images/exampleProfile.jpeg
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.js
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/components/Profile.js
  frontend/src/components/SignUp.js
  frontend/src/components/TeamProfile.js
  frontend/src/components/Waiting.js
  frontend/src/components/details/ControlTool.js
  frontend/src/components/details/CountDown.js
  frontend/src/components/details/CounterPlayer.js
  frontend/src/components/details/EditPW.js
  frontend/src/components/details/Email.js
  frontend/src/components/details/GiftPopup.js
  frontend/src/components/details/Header.js
  frontend/src/components/details/JoinButton.js
  frontend/src/components/details/JoinedPopup.js
  frontend/src/components/details/Loading.js
  frontend/src/components/details/MakeTeamButton.js
  frontend/src/components/details/MeetingInfo.js
  frontend/src/components/details/MyNumber.js
  frontend/src/components/details/ResultNumber.js
  frontend/src/components/details/TeamProfileNew.js
  frontend/src/components/details/TeamProfilePrev.js
  frontend/src/components/details/ToolTipDown.js
  frontend/src/components/details/ToolTipUp.js
  frontend/src/components/details/TwoTab.js
  frontend/src/css/Header.css
  frontend/src/css/Initpage.scss
  frontend/src/css/Main.scss
  frontend/src/css/Reuse.scss
  frontend/src/css/Waiting.scss
  frontend/src/css/loading.scss
  frontend/src/css/profile.scss
  frontend/src/modules/join.js
  frontend/src/modules/my_profile.js
  frontend/src/outdated/Body.css
  frontend/src/outdated/Footer.css
  frontend/src/outdated/Footer.js
  frontend/src/outdated/MyPlayer.js
  frontend/src/outdated/Player.js
  frontend/src/outdated/info_styles.scss
  frontend/src/outdated/player_styles.scss
Labels: frontend, refactor

#41 Feature/tooltip
  backend/meeting/models.py
  backend/meeting/serializers.py
  frontend/src/components/Initpage.js
  frontend/src/components/details/ToolTipDown.js
  frontend/src/components/details/ToolTipUp.js
  frontend/src/css/Reuse.scss
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
Labels: frontend

#42 Feature/join
  backend/meeting/migrations/0001_initial.py
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Initpage.js
  frontend/src/components/Profile.js
  frontend/src/components/Waiting.js
  frontend/src/components/details/JoinButton.js
  frontend/src/components/details/MakeTeamButton.js
  frontend/src/components/details/MeetingInfo.js
  frontend/src/components/details/MyNumber.js
  frontend/src/components/details/ResultNumber.js
  frontend/src/css/Initpage.scss
  frontend/src/css/Waiting.scss
  frontend/src/images/callCall.png
Labels: frontend

#44 Feature/profile page
  backend/backend/urls.py
  backend/meeting/views.py
  frontend/src/App.js
  frontend/src/components/Profile.js
  frontend/src/components/details/Header.js
  frontend/src/css/Reuse.scss
  frontend/src/css/profile.scss
  frontend/src/modules/my_profile.js
Labels: frontend

#51 legacy 제거
  legacy/Gemfile
  legacy/Gemfile.lock
  legacy/Rakefile
  legacy/config.ru
  legacy/config/database.yml
  legacy/controller.rb
  legacy/database.yml
  legacy/db/dev.sqlite3
  legacy/db/migrate/20190115013250_create_users_table.rb
  legacy/db/migrate/20190116104753_create_joined_users_table.rb
  legacy/db/migrate/20190116105410_create_companies_table.rb
  legacy/db/migrate/20190116105427_create_heart_payments_table.rb
  legacy/db/migrate/20190116105435_create_cash_payments_table.rb
  legacy/db/migrate/20190116105510_create_matched_histories_table.rb
  legacy/db/migrate/20190116105522_create_meeting_details_table.rb
  legacy/db/schema.rb
  legacy/db/seeds.rb
  legacy/db_class.rb
  legacy/function.rb
Labels: backend, duplicate, refactor

#54 Feature/refactoring
  backend/meeting/views.py
  frontend/src/App.css
  frontend/src/components/Initpage.js
  frontend/src/components/Main.js
  frontend/src/components/Profile.js
  frontend/src/components/TeamProfile.js
  frontend/src/components/Waiting.js
  frontend/src/components/details/ControlTool.js
  frontend/src/components/details/Header.js
  frontend/src/components/details/HeaderMain.js
  frontend/src/components/details/HeaderTeam.js
  frontend/src/components/details/JoinButton.js
  frontend/src/components/details/MakeTeamButton.js
  frontend/src/components/details/MeetingInfo.js
  frontend/src/components/details/MyNumber.js
  frontend/src/components/details/TeamProfileBody.js
  frontend/src/components/details/TwoTab.js
  frontend/src/css/Initpage.scss
  frontend/src/css/Main.scss
  frontend/src/css/Reuse.scss
  frontend/src/css/profile.scss
  frontend/src/images/smile.png
  frontend/src/modules/current_matching.js
  frontend/src/modules/join.js
  frontend/src/modules/my_profile.js
  frontend/src/outdated/TeamProfileNew.js
Labels: frontend, refactor

#55 Feature/player
  backend/images/admin_profile_5Dk5uiG.jpg
  backend/images/admin_profile_7UJYrX6.png
  backend/images/admin_profile_7UJYrX6_ad9kuOn.png
  backend/images/admin_profile_BmCZsTI.png
  backend/images/admin_profile_BmCZsTI_1FAt4r3.png
  backend/images/admin_profile_JKmruIK.jpg
  backend/images/admin_profile_JSU41Uz.jpg
  backend/images/admin_profile_JSU41Uz_xrD7BcU.jpg
  backend/images/admin_profile_MY545Gb.png
  backend/images/admin_profile_UN8XNPb.png
  backend/images/admin_profile_WFEoff6.jpg
  backend/images/admin_profile_djnqEjm.png
  backend/images/admin_profile_fb3TSb7.jpg
  backend/images/admin_profile_hPxIg6u.png
  backend/images/admin_profile_hhNwjbP.jpg
  backend/images/admin_profile_k9zuShz.jpg
  backend/images/admin_profile_ppDNUke.jpg
  backend/images/admin_profile_pqBnuXG.png
  backend/images/admin_profile_q0ya3Ro.png
  backend/images/admin_profile_vfj8qYa.jpg
  backend/images/admin_profile_xoQiY4L.jpg
  backend/images/bora_9bgxk4y.jpg
  backend/images/bora_dub0ceD.jpg
  backend/images/bora_dub0ceD_RF5slSM.jpg
  backend/images/bora_dub0ceD_RF5slSM_WuPJ3hk.jpg
  backend/images/bora_ePQ3apv.jpg
  backend/images/bora_f5Wc4cK.jpg
  backend/images/bora_iI0r0Ob.jpg
  backend/images/bora_jFqyeDp.jpg
  backend/images/chaewon_Bviwjac.png
  backend/images/chaewon_mz9zY5E.png
  backend/images/icon_E3vzwIh.png
  backend/images/icon_MSI59qA_60tvOo8.png
  backend/images/icon_ZZYXrcx.png
  backend/images/icon_oSLxObQ.png
  backend/images/wg_QlQEGld.jpg
  backend/images/서준_n7ZdS8P_HSKLHqo.jpg
  frontend/src/components/Main.js
  frontend/src/components/TeamProfile.js
  frontend/src/components/details/ControlTool.js
  frontend/src/components/details/CounterPlayer.js
  frontend/src/components/details/GiftPopup.js
  frontend/src/components/details/TeamPopup.js
  frontend/src/components/details/TeamProfileBody.js
  frontend/src/components/details/TwoTab.js
  frontend/src/css/Main.scss
  frontend/src/css/profile.scss
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
  frontend/src/outdated/TeamProfileNew.js
Labels: frontend

#56 Feature/refactoring
  backend/images/admin_profile_5Dk5uiG.jpg
  backend/images/admin_profile_7UJYrX6.png
  backend/images/admin_profile_7UJYrX6_ad9kuOn.png
  backend/images/admin_profile_BmCZsTI.png
  backend/images/admin_profile_BmCZsTI_1FAt4r3.png
  backend/images/admin_profile_JKmruIK.jpg
  backend/images/admin_profile_JSU41Uz.jpg
  backend/images/admin_profile_JSU41Uz_xrD7BcU.jpg
  backend/images/admin_profile_MY545Gb.png
  backend/images/admin_profile_UN8XNPb.png
  backend/images/admin_profile_WFEoff6.jpg
  backend/images/admin_profile_djnqEjm.png
  backend/images/admin_profile_fb3TSb7.jpg
  backend/images/admin_profile_hPxIg6u.png
  backend/images/admin_profile_hhNwjbP.jpg
  backend/images/admin_profile_k9zuShz.jpg
  backend/images/admin_profile_ppDNUke.jpg
  backend/images/admin_profile_pqBnuXG.png
  backend/images/admin_profile_q0ya3Ro.png
  backend/images/admin_profile_vfj8qYa.jpg
  backend/images/admin_profile_xoQiY4L.jpg
  backend/images/bora_9bgxk4y.jpg
  backend/images/bora_dub0ceD.jpg
  backend/images/bora_dub0ceD_RF5slSM.jpg
  backend/images/bora_dub0ceD_RF5slSM_WuPJ3hk.jpg
  backend/images/bora_ePQ3apv.jpg
  backend/images/bora_f5Wc4cK.jpg
  backend/images/bora_iI0r0Ob.jpg
  backend/images/bora_jFqyeDp.jpg
  backend/images/chaewon_Bviwjac.png
  backend/images/chaewon_mz9zY5E.png
  backend/images/icon_E3vzwIh.png
  backend/images/icon_MSI59qA_60tvOo8.png
  backend/images/icon_ZZYXrcx.png
  backend/images/icon_oSLxObQ.png
  backend/images/wg_QlQEGld.jpg
  backend/meeting/views.py
  frontend/src/components/Initpage.js
  frontend/src/components/TeamProfile.js
  frontend/src/components/Waiting.js
  frontend/src/components/details/CountDown.js
  frontend/src/components/details/CounterPlayer.js
  frontend/src/components/details/Header.js
  frontend/src/components/details/JoinButton.js
  frontend/src/components/details/Loading.js
  frontend/src/components/details/MeetingInfo.js
  frontend/src/components/details/TeamProfileBody.js
  frontend/src/components/details/ToolTipDown.js
  frontend/src/components/details/ToolTipUp.js
  frontend/src/components/details/TwoTab.js
  frontend/src/css/Initpage.scss
  frontend/src/images/kakaoIcon.png
  frontend/src/modules/current_matching.js
  frontend/src/modules/current_meeting.js
  frontend/src/modules/email.js
  frontend/src/modules/join.js
  frontend/src/modules/my_profile.js
  frontend/src/modules/player.js
Labels: backend, frontend, refactor
